<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.title == 'Home' %} active{% endif %}" href="{{ '/' | absolute_url }}">홈</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url | absolute_url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}



    <div>
      <div class="sidebar-nav-item">카테고리</div>
      <nav class="content-ul">
        {% for cat_name in site.category_order %}
        {% assign category = site.categories[cat_name] %}
        {% if category %}
        <a href="{{ root_url }}/{{ site.category_dir }}{{ cat_name }}" class="sidebar-nav-item pl-3rem">
          {% for cat_page in site.pages %}
          {% if cat_page.name != null %}
          {% if cat_page.category == cat_name %}
          <span class="name"><span class="tab">&#9;</span>{{ cat_page.subject }}</span>
          {% endif %}
          {% endif %}
          {% endfor %}
          <span class="badge sidebar-nav-badge">{{ category | size }}</span>
        </a>
        {% endif %}
        {% endfor %}
      </nav>
    </div>

    <a class="sidebar-nav-item" href="{{ site.github }}">GitHub</a>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
